[{:table :real_estates
  :data  [{:url               "www.test.com"
           :description       "Stan na dobroj lokaciji. Po strukturi troiposoban, dvostrano orjentisan, dva mokra cvora."
           :living_space_area 50.0
           :geolocation       "44.55555,20.22222"
           :furniture         nil
           :rooms_number      3.5
           :tittle            "Novi Beograd Lux"
           :type              "Stan"
           :price             100.0
           :floor             7
           :heating_type      "EG"}
          {:url               "www.last.com"
           :description       "Stan na dobroj lokaciji. Po strukturi dvoiposoban, dvostrano orjentisan..."
           :living_space_area 60.0
           :geolocation       "44.123123,20.123456"
           :furniture         nil
           :rooms_number      2.5
           :tittle            "Vracar povoljno"
           :type              "Stan"
           :price             250.0
           :floor             3
           :heating_type      "CG"}]}]